header {
    color: #fff;
    height: auto;
    background: url("web.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(44, 0, 148); }

    header h1 {
        color: white; }
      /* line 21, C:/Users/meriw/WebstormProjects/web105-2016/styles.scss */
      header a {
        display: inline-block;
        margin: 10px 8px;
        color: white;
        font-weight: 700;
        font-size: 1.2em;
        background-color: rgb(58, 71, 77);
        text-decoration: none; }
      
      header a:hover {
        text-decoration: underline; }
      
      header a:visited {
        color: white; }
    
    
    a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-weight: 800; }
    
   
    a:hover {
      text-decoration: underline; }
    
  
    a:visited {
      color: #000000; }
    
   
    p {
      padding-left: 1em; }
    
 
    .container {
      max-width: 960px;
      border: 1px solid rgb(0, 238, 255);
      padding: 15px;
      margin: 10px auto; }
    
    
    h2 {
      font-size: 1.4em;
      color: rgb(0, 0, 0);
      font-weight: 600; }
    