<html>
<head>
    <meta charset="UTF-8">
    <title>CSS Layouts with Floats</title>
    <link rel="stylesheet" href="layout1_stylesheet.css">
</head>
<body>
    <div class="container">
        <h1>Plan</h1>
        <nav><a href="layout_page1index.html">Layout 1</a> |
            <a href="layout_page2index.html">Layout 2</a> |
            <a href="layout_page3index.html">Layout 3 </a></nav>
        <img src="wireframe2.png" alt="Wireframe for web page">

    </div>
<div class="container">
    <div class="header">
        <h1>header</h1>
    </div>
    <div class="nav">
        <h2>nav</h2>
    </div>
    <div class="main">
        <h2>section</h2>
    </div>
    <div class="main">
        <h2>section</h2>
    </div>
    <div class="aside">
        <h2>aside</h2>
    </div>
    <div class="footer">
        <h2>footer</h2>
    </div>
</div>

</body>

</html>