<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CSS Layouts with Floats</title>
    <link rel="stylesheet" href="layout2_stylesheet.css">
</head>
<body>
    <div class="container">
        <h1>Plan</h1>
        <nav><a href="layout_page1index.html">Layout 1</a> |
            <a href="layout_page2index.html">Layout 2</a> |
            <a href="layout_page3index.html">Layout 3 </a></nav>
        <img src="wireframe3.png" alt="Wireframe for web page">

    </div>
    <div class="container">
        <div class="header">
            <h1>heading 1</h1>
        </div>
        <div class="nav">
            <h2>nav</h2>
        </div>
        <div class="main">
        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porttitor, diam vitae molestie faucibus, ex justo varius purus, nec maximus arcu arcu tristique orci. In ultrices dictum tellus, ut placerat eros feugiat ac. Aliquam erat volutpat. Vestibulum nibh augue, dignissim at ante in, posuere pretium ex. Praesent id ultricies augue. Aenean eu nulla pretium, tempus orci a, egestas eros. Suspendisse elementum sagittis erat id posuere. Donec pellentesque accumsan erat sed euismod.</P>
        </div>
        <div class="footer">
            <h2>footer</h2>
        </div>
    </div>

</body>

</html>